.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d4d4dd;
    height: 60px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;
}

.logo {
    width: 200px;
    height: 50px;
    display: block;
    margin-left: 45px;
}

.info {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.profile {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 30px;
    margin-right: 10px;
}
